<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <img class="ui centered rounded image" src="<%= blog.image %>">
    </div>
    <div class="item">
        <div><%= blog.created.toDateString() %></div>
    </div>
    <div class="description">
        <p><%- blog.body %></p>
    </div>
    <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Delete</button>
    </form>
    <% include partials/footer %>
</div>